<div ui-view="about">

<div style="background-color: orange; height: 50px;">
    	<!-- <h2 style="color: white; text-align: center; top: 50%; transform: translateY(-50%); position: relative;">SARA LIVINGS</h2> -->
    </div>
    <div class="sarahead">    </div>

    <div style="width: 70%; margin: 0 auto; background-color: #EDEDED;">
    		<div class="col-lg-5ths sara">
    			<p style="color: gray; font-size: 11px;">LOCACION</p>
    			<p style="color: #534081; font-size: 11px; font-weight: bold;">Ciudad de México</p>
    		</div>
    		<div class="col-lg-5ths sara">
    			<p style="color: gray; font-size: 11px;">VALOR DEL PROYECTO</p>
    			<p style="color: #534081; font-size: 11px; font-weight: bold;">336.0 millones</p>
    		</div>
    		<div class="col-lg-5ths sara">
    			<p style="color: gray; font-size: 11px;">CAPITAL</p>
    			<p style="color: #534081; font-size: 11px; font-weight: bold;">55</p>
    		</div>
    		<div class="col-lg-5ths sara">
    			<p style="color: gray; font-size: 11px;">DEUDA</p>
    			<p style="color: #534081; font-size: 11px; font-weight: bold;">130</p>
    		</div>
    		<div class="col-lg-5ths sara">
    			<p style="color: gray; font-size: 11px;">APORTACION FONDO</p>
    			<p style="color: #534081; font-size: 11px; font-weight: bold;">50</p>
    		</div>
    </div>

    <div style="width: 60%; margin: 0 auto; height: auto;">
	    <div class="col-lg-7" style="height: auto; background-color: #EDEDED;">
	    	<p style="font-weight: bold; color: #534081">Garden Towers<p>
<span class="grayletter">Ubicación: </span><span class="blackgray"> Ciudad de México<br>
<span class="grayletter">Cantidad:</span> 220 apartamentos<br>
<span class="grayletter">Tipo de Propiedad:</span> Condominio<br>
<span class="grayletter">Status: </span> Elaboración de fideicomiso<br>
<span class="grayletter">Superficie: </span> 3,761 mts²<br>
<span class="grayletter">Concepto: </span> Proyecto ubicado en la Ciudad de México, comprende 2 torres de 6 niveles cada uno.<br>
<span class="grayletter">Tipos de apartamentos: </span> 65 mts<br>
<span class="grayletter">Amenities: </span> GYM, Salón de usos múltiples, Juegos infantiles, etc.<br>
<span class="grayletter">Valor del proyecto: </span> $ 322.7 millones<br>
<span class="grayletter">Capital: </span> $ 55 millones<br>
<span class="grayletter">Deuda:</span> $ 130 millones<br>
<span class="grayletter">Precio promedio por unidad:</span> $ 1,700,000<br>
<span class="grayletter">Precio de venta por m²:</span> $ 26,150<br>
<span class="grayletter">Grupo desarrollador: </span> Grupo MGI/Urbania, Fam. Minvielle, Fam. Memun<br>
<span class="grayletter">Apalancamiento: </span> 60% del valor de venta del proyecto<br>
<span class="grayletter">Tasa de crédito puente: </span> TIIE + 3.5 Puntos<br>
<span class="grayletter">Capital por invertir de parte del fondo: </span> 50 millones<br>
<span class="grayletter">TIR Estimada FONDO antes de gastos: </span> 25.00%<br>
<span class="grayletter">TIR Estimada FONDO despues de gastos: </span> 18.00%<br></span>
	    	</p>
	    </div>

	    <div class="col-lg-5" style="float: right; height: 500px; background-color: #EDEDED;">
	    	<img style="width: 105%;" src="../images/vistapre.JPG">
	    	<img style="width: 105%; margin-top: 10px;" src="../images/casamuestra.JPG">
	    </div>
	</div>
</div>