 <!-- cambios footer -->
    <div style="clear: both;" class="piepag">
        <div class="col-xs-12 col-md-4 col-lg-4 address">
            <p style="color: white;">Av. Prolongación Paseo de la Reforma 115 – PH
            <br>Col. Santa Fe.
            C.P. 1330
             <br> Ciudad de México, México.</p>
            <p class="brandpurple">FM1</p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <img class="icons" src="images/portfolio/social-facebook-circle-128.png">
            <img class="icons" src="images/portfolio/twitter.png">
            <img class="icons" src="images/portfolio/skype.png">
        </div>
        <div class="col-sm-12 col-lg-4 address">
            <p><a href="mailto:contacto@fm1.com" style="color: white;">contacto@fm1.com </a></p>
            <p style="color: white;">(55) 857-86-95</p>
        </div>
    </div>