 <!-- cambios footer -->
    <div style="clear: both;" class="piepag">
        <div class="col-sm-12 col-lg-4 address">
            <p>Dirección completa #984 <br> Ciudad de México, México.</p>
            <p class="brandpurple" href="#page-top">FM1</p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <img class="icons" src="images/portfolio/social-facebook-circle-128.png">
            <img class="icons" src="images/portfolio/twitter.png">
            <img class="icons" src="images/portfolio/skype.png">
        </div>
        <div class="col-sm-12 col-lg-4 address">
            <p><a href="mailto:contacto@fm1.com">contacto@fm1.com</a></p>
            <p>(55) 857-86-95</p>
        </div>
    </div>